<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="layoutTemplate/template :: layout(~{::title}, ~{::main})">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/dalsom.css}" href="/static/css/dalsom.css" rel="stylesheet" type="text/css">
    <script defer th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
    <title>달콤한 솜사탕</title>
</head>
<body>
<div class="container-fluid wrapper row">
    <main class="text-center col-9 overflow-auto">
        <div class="p-5">
            <h1>
                <span th:text="${guild.guildName}">달콤한 솜사탕</span>
                <span class="text-muted figure-caption"
                      th:text="${guild.characters.size()}+'/'+${guild.maxCapacity}">60/60</span>
            </h1>
            <hr>
            <div class="row">
                <div class="card col-2 mb-3 ms-3 me-3" th:each="each : ${guild.characters}">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0" th:text="${each.characterName}">
                                Howler
                            </h5>
                            <figcaption class="figure-caption"
                                        th:text="${each.mainCharacterName}">
                                Howler
                            </figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2" th:text="${each.characterJobs}">데빌헌터</h6>
                        <p class="card-text">
                            <span th:text="|아이템 레벨 : ${each.itemLevel}|">아이템 레벨 : 1595 </span>
                            <span th:text="${each.guildRole.koreanName}">길드마스터</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1"
                               th:target="_blank"
                               th:href="@{'https://loawa.com/char/'+${each.characterName}}">캐릭터
                                정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1"
                               th:href="@{'/user/'+${each.userId}}">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                Howler
                            </h5>
                            <figcaption class="figure-caption">Howler</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">데빌헌터</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1595 </span>
                            <span>길드마스터</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                챠힘
                            </h5>
                            <figcaption class="figure-caption">챠힘</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">스카우터</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1,587 </span>
                            <span>관리자</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                휄아
                            </h5>
                            <figcaption class="figure-caption">휄아</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">창술사</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1,595 </span>
                            <span>관리자</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                o현석
                            </h5>
                            <figcaption class="figure-caption">o현석</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">가짜블레이드</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1,572 </span>
                            <span>관리자</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                개발하다샷건침
                            </h5>
                            <figcaption class="figure-caption">개발하다샷건침</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">건슬링어</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1540 </span>
                            <span>관리자</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                유저1
                            </h5>
                            <figcaption class="figure-caption">유저1</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">기상술사</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1595 </span>
                            <span>길드원</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
                <div class="card col-2 mb-3 ms-3 me-3" th:remove="all">
                    <div class="card-body">
                        <figure>
                            <h5 class="card-title mb-0">
                                유저2
                            </h5>
                            <figcaption class="figure-caption">유저2</figcaption>
                        </figure>
                        <h6 class="card-subtitle text-muted mb-2">기상술사</h6>
                        <p class="card-text">
                            <span>아이템 레벨 : 1595 </span>
                            <span>길드원</span>
                        </p>
                        <div class="d-flex">
                            <a href="#" class="text-decoration-none m-1">캐릭터 정보<br>(로아와)</a>
                            <a href="#" class="text-decoration-none m-1">길드원 정보<br>정보 확인</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>