<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="layoutTemplate/template :: layoutWithScript(~{::title}, ~{::main}, ~{::script})">
<head>
    <title>회원 가입</title>
</head>
<body>
<div class="container-fluid wrapper row">
    <main class="text-center col-10 overflow-auto">
        <div class="row p-5">
            <form action="#" th:action="@{/user/join}" method="post" class="row mb-5" id="form" th:object="${form}">
                <div class="col-6 ps-5 pe-5">
                    <h1>유저정보</h1>
                    <hr>
                    <div class="d-flex justify-content-between mt-4 mb-5 align-items-center">
                        <div class="col-6">
                            <label for="characterName">캐릭터명</label>
                            <input type="text" class="form-control" id="characterName" name="characterName"
                                   th:value="*{characterName}">
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary me-1" id="searchAutoBtn">캐릭터 조회
                            </button>
                            <div class="spinner-border" id="spinner" role="status" style="display: none">
                            </div>
                        </div>
                    </div>
                    <label for="joinDate">가입일</label>
                    <input type="date" class="form-control" id="joinDate" name="joinDate">
                </div>
                <div class="col-6 ps-5 pe-5">
                    <h1>캐릭터 정보</h1>
                    <hr>
                    <div style="width: 60%; margin: auto">
                        <div class="mb-4">
                            <label for="job">직업</label>
                            <input type="text" class="form-control" id="job" name="job" list="jop-options"
                                   th:value="*{job}">
                            <datalist id="jop-options">
                                <option th:each="each : ${T(com.dalsom.management.character.Jobs).values()}"
                                        th:text="${each.name()}" th:value="${each.name()}"></option>
                            </datalist>
                        </div>
                        <div class="mb-4">
                            <label for="level">전투레벨</label>
                            <input type="number" class="form-control" id="level" name="level"
                                   th:value="*{level}">
                        </div>
                        <div class="mb-4">
                            <label for="itemLevel">아이템레벨</label>
                            <input type="number" class="form-control" id="itemLevel" name="itemLevel"
                                   th:value="*{itemLevel}">
                        </div>
                    </div>
                </div>
                <p class="form-error" th:if="${#fields.hasAnyErrors()}" th:each="each : ${#fields.allErrors()}"
                   th:text="${each}"></p>
            </form>
            <button class="btn btn-primary" form="form"
                    style="width: 30%; height: 4rem; margin: auto">가입
            </button>
        </div>
    </main>
</div>
<script>
    let characterNameInput = document.getElementById("characterName");

    document.addEventListener("DOMContentLoaded", function () {
        setDateValue(document);
        addSearchBtnEventListener();
        document.querySelectorAll("input").forEach((each) => {
            each.addEventListener("keypress", removeEnterEvent)
            each.addEventListener("keydown", removeEnterEvent)
            each.addEventListener("keyup", removeEnterEvent)
        })
        characterNameInput.addEventListener("keyup", function (ev) {
            if (ev.key === 'Enter') {
                document.getElementById("searchAutoBtn").click();
            }
        });
    })

    function removeEnterEvent(ev) {
        if (ev.key === 'Enter') {
            ev.preventDefault();
        }
    }

    function addSearchBtnEventListener() {
        document.getElementById("searchAutoBtn").addEventListener("click", function () {
            if (characterNameInput.value.length === 0) {
                alert("캐릭터명을 입력해주세요");
                return;
            }
            let httpRequest = new XMLHttpRequest();

            let searchBtn = document.getElementById("searchAutoBtn");
            let spinner = document.getElementById("spinner")

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    let response = JSON.parse(httpRequest.responseText);
                    let job = document.getElementById("job");
                    let level = document.getElementById("level");
                    let itemLevel = document.getElementById("itemLevel");

                    if (httpRequest.status === 200) {
                        job.value = response["job"];
                        level.value = response["combatLevel"];
                        itemLevel.value = response["itemLevel"];
                    } else {
                        let response = JSON.parse(httpRequest.responseText);
                        console.log(httpRequest.status);
                        console.log(response);

                        job.value = '';
                        level.value = '';
                        itemLevel.value = '';
                        alert(response["rspMessage"]);
                    }
                    searchBtn.style = "display: inline-block";
                    spinner.style = "display: none";
                } else {
                }
            }

            searchBtn.style = "display: none";
            spinner.style = "display: inline-block";

            httpRequest.open("GET", `/api/character/${characterNameInput.value}`, true);
            httpRequest.send(null);
        })
    }
</script>
</body>
</html>