<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="layoutTemplate/template :: layout(~{::title}, ~{::main})">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/dalsom.css}" href="/static/css/dalsom.css" rel="stylesheet" type="text/css">
    <script th:src="@{/js/bootstrap.bundle.min.js}" src="/static/js/bootstrap.bundle.min.js"></script>
    <title>길드원 목록</title>
</head>
<body>
<div class="container-fluid wrapper row">
    <aside class="flex-shrink-0 p-4 align-items-center cotton-color col-2 sidebar">
        <a href="#" class="d-flex align-items-center pb-3 mb-3 text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold text-black">관리자 메인</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn align-items-center rounded btn-toggle" data-bs-toggle="collapse"
                        data-bs-target="#guild-collapse" aria-expanded="true">길드관리
                </button>
                <div class="collapse" id="guild-collapse">
                    <ul class="list-unstyled fw-normal pb-1 small btn-toggle-nav">
                        <li>
                            <a href="#" class="link-dark rounded">길드현황</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">건의사항</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn align-items-center rounded btn-toggle" data-bs-toggle="collapse"
                        data-bs-target="#user-collapse" aria-expanded="true">회원관리
                </button>
                <div class="collapse" id="user-collapse">
                    <ul class="list-unstyled fw-normal pb-1 small btn-toggle-nav">
                        <li>
                            <a href="#" class="link-dark rounded">회원목록</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn align-items-center rounded btn-toggle" data-bs-toggle="collapse"
                        data-bs-target="#admin-collapse" aria-expanded="true">운영진관리
                </button>
                <div class="collapse" id="admin-collapse">
                    <ul class="list-unstyled fw-normal pb-1 small btn-toggle-nav">
                        <li>
                            <a href="#" class="link-dark rounded">운영진목록</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark rounded">운영진가입승인</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <main class="text-center col-9 overflow-auto">
        <div class="p-5">
            <h1>
                <span>회원 목록</span>
            </h1>
            <hr>
            <table class="table table-hover align-items-center table-bordered" style="vertical-align: middle">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">이름</th>
                    <th scope="col">역할</th>
                    <th scope="col">코멘트</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="each : ${page.content}">
                    <td th:text="${page.currentPageNumber * 10 - 10 + eachStat.count}">1</td>
                    <td th:text="${each.mainCharacterName}">Howler</td>
                    <td th:text="${each.guildRole.koreanName}">길드마스터</td>
                    <td>0</td>
                </tr>
                <tr th:remove="all">
                    <td>1</td>
                    <td>Howler</td>
                    <td>길드마스터</td>
                    <td>0</td>
                </tr>
                <tr th:remove="all">
                    <td>2</td>
                    <td>휄아</td>
                    <td>운영진</td>
                    <td>0</td>
                </tr>
                <tr th:remove="all">
                    <td>3</td>
                    <td>챠힘</td>
                    <td>운영진</td>
                    <td>0</td>
                </tr>
                <tr th:remove="all">
                    <td>4</td>
                    <td>개발하다샷건침</td>
                    <td>운영진</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between align-items-start">
                <form th:action="@{/user}" action="#" style="display: contents">
                    <div class="input-group" style="width: 26%">
                        <select class="form-select" name="condition" id="condition">
                            <option th:selected="${param.category?.contains('name')}" value="name">이름</option>
                            <option th:selected="${param.category?.contains('role')}" value="role">역할</option>
                        </select>
                        <input type="text" class="form-control" style="width: 55%" name="searchWord">
                        <button class="btn btn-outline-secondary">검색</button>
                    </div>
                </form>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:if="${page.isNeedPrevButton()}">
                            <a class="page-link" href="#" aria-label="Previous"
                               th:href="@{/user(pageNumber=${page.prevButtonPage}, keyword=${param.keyword}, category=${param.category})}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="each:${page.shownPages}"
                            th:classappend="${each eq page.currentPageNumber} ? 'active' : ''">
                            <a class="page-link" href="#"
                               th:href="@{/user(pageNumber=${each}, keyword=${param.keyword}, category=${param.category})}"
                               th:styleappend="${each eq page.currentPageNumber} ? 'pointer-events: none' : ''"
                               th:text="${each}">1</a>
                        </li>
                        <li class="page-item" th:if="${page.isNeedNextButton()}">
                            <a class="page-link" href="#" aria-label="Next"
                               th:href="@{/user(pageNumber=${page.nextButtonPage}, keyword=${param.keyword}, category=${param.category})}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
</body>
</html>