<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="layoutTemplate/template :: layoutWithScript(~{::title}, ~{::main}, ~{::script})">
<head>
    <title>달콤한 솜사탕</title>
</head>
<body>
<div class="container-fluid wrapper row">
    <main class="text-center col-10 overflow-auto">
        <div class="row p-5">
            <div class="col-6">
                <div class="left-head row p-1 ms-5 me-5">
                    <h1 th:text="${userDetail.mainCharacterName}">
                        Howler
                    </h1>
                    <hr>
                </div>
                <div class="text-start ps-5 pe-5 pt-3">
                    <div class="row justify-content-between mb-3  pt-2 pb-2">
                        <div class="col-auto">
                            <p class="fw-semibold fs-4 mt-auto mb-auto">
                                <span>가입일 : </span>
                                <span id="joinDateSpan"
                                      th:text="${#temporals.format(userDetail.joinDate, 'yyyy-MM-dd')}">2020-01-01</span>
                            </p>
                            <input class="form-control hide" type="date" id="joinDateInput" value="2020-01-01"
                                   th:value="${#temporals.format(userDetail.joinDate, 'yyyy-MM-dd')}">
                        </div>
                        <div class="col-auto ps-0 pe-0">
                            <button class="btn btn-sm btn-light user-detail-btn" id="modifyJoinDateButton"> 수정
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-between mb-3  pt-2 pb-2">
                        <div class="col-auto" style="display: table">
                            <p class="fw-semibold fs-4 mt-auto mb-auto"
                               style="display: table-cell; vertical-align: middle">코멘트 수 :
                                <a href="#" class="text-decoration-none">0</a>
                            </p>
                        </div>
                        <div class="col-auto ps-0 pe-0">
                            <button class="btn btn-sm btn-light col-auto user-detail-btn"
                                    data-bs-target="#commentModal"
                                    data-bs-toggle="modal">
                                코멘트<br> 남기기
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-between mb-3  pt-2 pb-2">
                        <div class="col-auto">
                            <p class="fw-semibold fs-4 mt-auto mb-auto">사사게 수 : 0</p>
                        </div>
                        <div class="col-auto ps-0 pe-0">
                            <button class="btn btn-sm btn-light user-detail-btn">새로고침</button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="contentModalTitle">코멘트 남기기</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-2">
                                        <select class="form-select text-center" name="commentCategory"
                                                id="commentCategory">
                                            <option value="remark">비고</option>
                                            <option value="warn">경고</option>
                                        </select>
                                    </div>
                                    <textarea class="form-control" name="test" id="commentTextArea"
                                              rows="10"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    <button type="button" class="btn btn-primary">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->

                    <div>
                        <hr>
                        <div th:if="${userDetail.userStatus eq T(com.dalsom.management.user.UserStatus).JOIN}">
                            <p class="display-6 fw-semibold text-danger">탈퇴 관리</p>
                            <button class="btn btn-primary" data-bs-target="#leaveModal" data-bs-toggle="modal"
                                    data-bs-whatever="탈퇴">자진 탈퇴
                            </button>
                            <button class="btn btn-danger" data-bs-target="#leaveModal" data-bs-toggle="modal"
                                    data-bs-whatever="추방">추방
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="leaveModalTitle">탈퇴</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-2">
                                            <span id="leaveModalBodyTitle">탈퇴 사유</span>
                                        </div>
                                        <textarea class="form-control mb-3" name="leaveReasonTextArea"
                                                  id="leaveReasonTextArea" rows="10"></textarea>
                                        <input class="form-control" type="date" name="leaveDate">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                        </button>
                                        <button type="button" class="btn btn-primary">저장</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row p-1 ms-5 me-5">
                    <h1>보유 캐릭터 정보 <span class="text-end fs-4 text-muted"
                                        th:text="${userDetail.characters.size()}">7</span></h1>
                    <hr>
                </div>
                <div class="row mt-0">
                    <div class="card col-3 m-3" th:each="each : ${userDetail.characters}">
                        <div class="card-body">
                            <figure>
                                <h5 class="card-title mb-0" th:text="${each.characterName}">
                                    Howler
                                </h5>
                                <figcaption class="figure-caption" th:text="${each.guildName}">달콤한솜사탕</figcaption>
                            </figure>
                            <h6 class="card-subtitle text-muted mb-2" th:text="${each.job.name()}">데빌헌터</h6>
                            <p class="card-text">
                                <span th:text="${each.itemLevel}">아이템 레벨 : 1595 </span>
                            </p>
                            <a href="https://loawa.com/char/Howler"
                               th:target="_blank"
                               th:href="@{'https://loawa.com/char/'+${each.characterName}}"
                               class="text-decoration-none m-1" target="_blank"
                               rel="noopener noreferrer">캐릭터 정보<br>(로아와)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    document.getElementById("modifyJoinDateButton").addEventListener("click", () => {
        let dateInput = document.getElementById("joinDateInput");
        let dateSpan = document.getElementById("joinDateSpan");

        if (dateInput.classList.contains("hide")) {
            dateInput.classList.remove("hide");
            dateSpan.parentElement.classList.add("hide");
        } else {
            //do ajax to server
            dateSpan.innerText = dateInput.value;
            dateInput.classList.add("hide");
            dateSpan.parentElement.classList.remove("hide");
        }
    })

    let modal = document.getElementById("leaveModal");
    modal.addEventListener('show.bs.modal', (event) => {
        setDateValue(modal);

        let relatedTarget = event.relatedTarget;
        let attribute = relatedTarget.getAttribute("data-bs-whatever");

        let title = modal.querySelector("#leaveModalTitle");
        title.innerHTML = attribute;
        let body = modal.querySelector("#leaveModalBodyTitle");
        body.innerHTML = `${attribute} 사유`;
    });
</script>
</body>
</html>